@import "../../_media_queries.scss";
@import "../../_module.scss";

//フォーム
input,
select,
textarea {
	font-size: 100%;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", verdana, arial, sans-serif;
	box-sizing: border-box;
}

input[type="image"] {
	margin: 0;
	padding: 0;
	vertical-align: bottom;
}

input[type="text"],
input[type="password"],
input[type="tel"],
input[type="number"],
input[type="email"],
textarea {
	box-sizing: border-box;
	padding: 5px;
	border: #D9D9D9 solid 1px;

	@include mq-sp {
		width: 100%;
	}
}

input[type="checkbox"],
input[type="radio"] {
    vertical-align: middle;
    margin-bottom: 3px;
}

select {
	padding: 5px;
	border: #D9D9D9 solid 1px;
}

#form-table {
	@include mq-sp {
		th,td {
			padding: 10px;
			display: block;
			box-sizing: border-box;
			width: auto;
			font-size: 1.6rem;
		}
	}

	width: 100%;
	background-color: #EAEAEA;

	tr {
		&:nth-child(2n+0) {
			background-color: #F5F5F5;
		}
	}

	th,td {
		border: #fff solid 2px;
		padding: 12px 20px;
	}

	th {
		@include mq-sp {
			&:before {
				content: "■";
			}
		}

		width: 25%;
		text-align: left;
		font-weight: normal;

		&.required {
			&:after {
				content: "（必須）";
				color: #990000;
				vertical-align: middle;
			}
		}
	}

	td {
		@include mq-sp {
			span {
				display: block;
				margin: 5px 0 0;
				font-size: 1.4rem;
			}

			#search {
				margin: 5px 0;
			}
		}

		padding: 12px 20px;

		input[type="text"] {
			@include mq-sp {
				&,&.add01,&.add02,&.add03,&.mail,&.tel {
					width: 100%;
					padding: 8px;
				}
				&.zip {
					width: 9em;
				}
			}

			width: 348px;
			/* box-shadow */
			box-shadow:rgba(0, 0, 0, 0.760784) 0px 1px 1px -1px inset;
			-webkit-box-shadow:rgba(0, 0, 0, 0.760784) 0px 1px 1px -1px inset;
			-moz-box-shadow:rgba(0, 0, 0, 0.760784) 0px 1px 1px -1px inset;

			&.zip {
				width: 108px;
			}
			&.add01 {
				width: 408px;
			}
			&.add02 {
				width: 188px;
			}
			&.add03 {
				width: 408px;
			}
			&.mail {
				width: 338px;
			}
			&.tel {
				width: 188px;
			}
		}

		textarea {
			width: 408px;

			@include mq-sp {
				width: 100%;
				padding: 8px;
			}
		}

		select {
			@include mq-sp {
				width: 100%;
				padding: 5px;
			}

			/* box-shadow */
			box-shadow:rgba(0, 0, 0, 0.760784) 0px 1px 1px -1px inset;
			-webkit-box-shadow:rgba(0, 0, 0, 0.760784) 0px 1px 1px -1px inset;
			-moz-box-shadow:rgba(0, 0, 0, 0.760784) 0px 1px 1px -1px inset;
		}

		input[type="checkbox"] {
			margin: 0 8px 0 0;
		}

		#catalogselectlist {
			margin: -8px 0 0;

			li {
				margin: 8px 0 0;
			}
		}
	}
}

.form-btn {
	@include mq-sp {
		> div {
			display: block;

			&:first-child {
				margin: 0 5px 10px;
			}

			input {
				width: 60%;
			}
		}
	}

	text-align: center;
	font-size: 2.0rem;
	color: #fff;
	margin: 40px 0 0;

	> div {
		display: inline-block;
		margin: 0 5px;

		input {
			width: 216px;
			padding: 10px;
			box-sizing: border-box;
			border: none;

			&:hover {
				opacity: 0.7;
				filter: alpha(opacity=60);
			}
		}

		input[type="submit"] {
			background-color: #064593;
		}
		input[type="reset"],
		input[type="button"] {
			background-color: #999999;
		}
	}
}

.err_txt {
	color: #CC0000;
	margin-bottom: 20px;
}

#thanks-block {
	@include mq-sp {
		padding: 100px 0;
	}

	text-align: center;
	padding: 170px 0;

	.thanks-text {
		font-size: 2.2rem;
		margin: 0 0 20px;
	}
}